.application-page-container {
  flex-grow: 1;
  padding: 31px 56px 56px 38px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 1133px) {
  .application-page-container {
    padding: 24px;
  }
}
@media (max-width: 745px) {
  .application-page-container {
    padding: 18px 24px;
  }
}
.application-page-container .head-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .application-page-container .head-row {
    align-items: center;
  }
}
@media (max-width: 745px) {
  .application-page-container .head-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}
.application-page-container .head-row .apply {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}
.application-page-container .head-row .apply span {
  color: var(--blue, #0070C9);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}
.application-page-container .head-row .apply:hover svg path {
  fill: #0067B9;
}
.application-page-container .head-row .apply:hover span {
  color: #0067B9;
}
.application-page-container .head-row a {
  border-radius: 100px;
  background: var(--Red, #EA2119);
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #FFF;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.34px;
}
.application-page-container .head-row a:hover {
  background: #E01D16;
}
.application-page-container .filters-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.application-page-container .filters-block .row {
  display: flex;
  gap: 24px;
  align-items: center;
}
.application-page-container .filters-block .row .filters-btn {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}
.application-page-container .filters-block .row .filters-btn span {
  color: rgba(0, 0, 0, 0.4);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.application-page-container .filters-block .row .document-container-select {
  display: flex;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
  color: #333;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline-offset: 0;
}
.application-page-container .filters-block .filter-row {
  display: flex;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;
  display: none;
}
.application-page-container .filters-block .filter-row.open {
  display: flex;
}
.application-page-container .filters-block .filter-row .document-container-select {
  display: flex;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
  color: #333;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline-offset: 0;
}
.application-page-container .requests-table {
  width: 100%;
}
.application-page-container .requests-table .requests-table-head {
  width: 100%;
  display: flex;
  padding: 12px 52px 12px 18px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 24px;
}
@media (max-width: 1133px) {
  .application-page-container .requests-table .requests-table-head {
    display: none;
  }
}
.application-page-container .requests-table .requests-table-head .date {
  color: rgba(29, 29, 31, 0.4);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  width: 100px;
}
.application-page-container .requests-table .requests-table-head .title {
  color: rgba(29, 29, 31, 0.4);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}
.application-page-container .requests-table .requests-table-head .status-changing {
  color: rgba(0, 0, 0, 0.4);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  width: 128px;
  margin-left: auto;
}
.application-page-container .requests-table .requests-table-head .status {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  width: 162px;
}
.application-page-container .requests-table .request-list {
  width: 100%;
}
.application-page-container .requests-table .request-list li {
  width: 100%;
}
.application-page-container .requests-table .request-list li .accordeon .box {
  width: 100%;
  border-bottom: 1px solid rgba(149, 149, 149, 0.4);
}
.application-page-container .requests-table .request-list li .accordeon .box.active .label .show-icon {
  transform: rotate(225deg);
}
.application-page-container .requests-table .request-list li .accordeon .box .label {
  display: flex;
  padding: 24px 18px;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  align-self: stretch;
  cursor: pointer;
}
@media (max-width: 1133px) {
  .application-page-container .requests-table .request-list li .accordeon .box .label {
    padding: 24px 0;
  }
}
.application-page-container .requests-table .request-list li .accordeon .box .label .label-cont {
  display: flex;
  gap: 24px;
  flex-grow: 1;
  align-items: center;
}
@media (max-width: 1133px) {
  .application-page-container .requests-table .request-list li .accordeon .box .label .label-cont {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
.application-page-container .requests-table .request-list li .accordeon .box .label .label-cont .date {
  width: 100px;
  color: rgba(51, 51, 51, 0.7);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}
@media (max-width: 1133px) {
  .application-page-container .requests-table .request-list li .accordeon .box .label .label-cont .date {
    display: none;
  }
}
.application-page-container .requests-table .request-list li .accordeon .box .label .label-cont .title {
  color: #333;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}
@media (max-width: 1133px) {
  .application-page-container .requests-table .request-list li .accordeon .box .label .label-cont .title {
    order: 2;
  }
}
.application-page-container .requests-table .request-list li .accordeon .box .label .label-cont .changing-status {
  margin-left: auto;
  width: 100px;
  color: rgba(51, 51, 51, 0.7);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}
@media (max-width: 1133px) {
  .application-page-container .requests-table .request-list li .accordeon .box .label .label-cont .changing-status {
    display: none;
  }
}
.application-page-container .requests-table .request-list li .accordeon .box .label .label-cont .status {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  gap: 6px;
  border-radius: 100px;
  border: 1px solid rgba(29, 29, 31, 0.4);
}
@media (max-width: 1133px) {
  .application-page-container .requests-table .request-list li .accordeon .box .label .label-cont .status {
    order: 1;
    border: none;
    padding: 0;
  }
}
.application-page-container .requests-table .request-list li .accordeon .box .label .label-cont .status span {
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #FFAA64;
}
.application-page-container .requests-table .request-list li .accordeon .box .label .label-cont .status p {
  color: rgba(29, 29, 31, 0.4);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
}
.application-page-container .requests-table .request-list li .accordeon .box .content {
  position: relative;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.application-page-container .requests-table .request-list li .accordeon .box .content .box-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  padding: 0 34px 24px 142px;
}
@media (max-width: 1133px) {
  .application-page-container .requests-table .request-list li .accordeon .box .content .box-content-wrapper {
    padding: 0 0 24px;
  }
}
.application-page-container .requests-table .request-list li .accordeon .box .content .box-content-wrapper .item {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}
@media (max-width: 1133px) {
  .application-page-container .requests-table .request-list li .accordeon .box .content .box-content-wrapper .item {
    flex-direction: column;
    gap: 12px;
  }
}
.application-page-container .requests-table .request-list li .accordeon .box .content .box-content-wrapper .item .comment {
  max-width: 432px;
  width: 100%;
  color: rgba(51, 51, 51, 0.7);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1413px) {
  .application-page-container .requests-table .request-list li .accordeon .box .content .box-content-wrapper .item .comment {
    max-width: 350px;
  }
}
.application-page-container .requests-table .request-list li .accordeon .box .content .box-content-wrapper .item .btn {
  margin-left: auto;
  color: var(--blue, #0070C9);
  text-align: right;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  cursor: pointer;
}
.application-page-container .requests-table .request-list li .accordeon .box .content .box-content-wrapper .item .btn.delete-btn {
  display: flex;
  gap: 10px;
  color: var(--Red, #EA2119);
  text-align: right;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

/*# sourceMappingURL=applicationPage.css.map */
