.custom-select {
  position: relative;
  display: inline-block;

  .custom-select__selected {
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    display: flex;
    padding: 10px 16px;
    justify-content: space-between;
    align-items: center;
    color: #333;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
    position: relative;
    .custom-select__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      width: 16px;
      height: 16px;
      transition: transform 0.3s;
    }
    &.open {
      .custom-select__icon {
        transform: rotate(180deg);
      }
    }
  }
  .custom-select__options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.14);
    z-index: 20;
    max-height: 293px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #C2C2C2 transparent;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #C2C2C2;
      border-radius: 100px;
    }
    .custom-select__option {
      display: flex;
      padding: 12px 18px;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      align-self: stretch;
      cursor: pointer;
      color: #333;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      &:hover {
        background: #F5F5F7;
      }
    }
  }
}





