.editing-profile-layout {
  flex-grow: 1;
  padding: 31px 38px 56px;
  display: flex;
  flex-direction: column;
  @media (max-width: 745px) {
    padding: 24px 18px;
    overflow-y: auto;
  }
  gap: 24px;
  .red-btn {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: var(--Red, #EA2119);
    color: #FFF;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.34px;
    cursor: pointer;
    white-space: nowrap;
    &:hover {
      border-radius: 100px;
      background: #DF140C;
    }
  }
  .head-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    .col {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;
      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .add-tab {
          display: none;
          @media (max-width: 745px) {
            display: flex;
          }
        }
      }
      h1 {
        color: #333;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 20.4px */      }
    }
    .red-btn {
      display: flex;
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 100px;
      background: var(--Red, #EA2119);
      color: #FFF;
      font-family: Roboto;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.34px;
      cursor: pointer;
      &:hover {
        border-radius: 100px;
        background: #DF140C;
      }
      @media (max-width: 745px) {
        display: none;
      }
    }
  }
  .r-btn {
    display: none;
    @media (max-width: 745px) {
      display: block;
    }
  }
  .add-tab {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--blue, #0070C9);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
    cursor: pointer;
    &:hover {
      color: #0067B9;
    }
  }
  .chakra-tabs__tab-panel {
    max-height: 65vh;
    overflow-y: auto;
    scrollbar-color: transparent transparent;
    scrollbar-width: none;
    @media (max-width: 745px) {
      overflow-y: unset;
      max-height: unset;
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  }
  .ul-edit-tabs {
    flex-shrink: 1;
    .add-tab {
      display: flex;
      align-items: center;
      gap: 12px;
      color: var(--blue, #0070C9);
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 16.8px */
      cursor: pointer;
      &:hover {
        color: #0067B9;
      }
    }
  }
  .profile-info-form {
    display: flex;
    margin-top: 24px;
    @media (max-width: 920px) {
      flex-direction: column;
      gap: 24px;
    }
  }
  .profile-info-form-wrapper {
    &.short-profile-info-form-wrapper {
      flex-grow: 1;
      max-height: 67vh;
      overflow-y: auto;
      scrollbar-color: transparent transparent;
      scrollbar-width: none;
      @media (max-width: 745px) {
        overflow-y: unset;
        max-height: unset;
      }

      &::-webkit-scrollbar {
        width: 1px;
        height: 1px;
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
      .profile-info-form {
        margin-top: 0;
      }
    }
    .form-head {
      display: flex;
      flex-direction: column;
      gap: 12px;
      p{
        color: #000;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .btn {
        display: flex;
        gap: 12px;
        cursor: pointer;
        span {
          color: var(--Red, #EA2119);
          font-family: Roboto;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 16.8px */
        }
        &:hover {
          svg path {
            fill: #E01D16;
          }
          span {
            color: #E01D16;
          }
        }
      }
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 50%;
    @media (max-width: 920px) {
      width: 100%;
    }
    .chapter {
      max-width: 390px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      .title-row {
        display: flex;
        flex-direction: column;
        .title {
          color: #000;
          font-family: Roboto;
          font-size: 17px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

        }
        .adress {
          color: var(--grey_txt, rgba(143, 143, 148, 0.70));
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 14.4px */
          display: block;
          margin: 4px 0 12px;
        }
        .btn {
          cursor: pointer;
          color: var(--blue, #0070C9);
          font-family: Roboto;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 16.8px */
          &:hover {
            color: #0067B9;
          }
        }
      }
      .title {
        color: #000;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .custom-switch {
        margin-top: 6px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: rgba(0, 0, 0, 0.80);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 16.8px */
      }
    }
  }

}
.change-main-person-modal {
  .mp-overlay {
    position: fixed;
    top: 0;
    left: 0 ;
    background: rgba(245, 245, 247, 0.80);
    backdrop-filter: blur(17px);
    z-index: 30;
    width: 100%;
    height: 100%;
  }
  .modal-wrapper {
    position: fixed;
    z-index: 31;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    max-width: 388px;
    padding: 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #FFF;
    backdrop-filter: blur(32px);
    .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6px;
      padding: 33px 16px;
      align-self: stretch;
      p {
        color: #000;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 28.8px */
      }
      span {
        color: var(--grey_txt, rgba(143, 143, 148, 0.70));
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 16.8px */
      }
    }
    .btns {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6px;
      span {
        color: var(--grey_txt, rgba(143, 143, 148, 0.70));
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 20.4px */
        cursor: pointer;
      }
    }

  }
}