.editing-profile-layout {
  flex-grow: 1;
  padding: 31px 38px 56px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 745px) {
  .editing-profile-layout {
    padding: 24px 18px;
    overflow-y: auto;
  }
}
.editing-profile-layout .red-btn {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--Red, #EA2119);
  color: #FFF;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.34px;
  cursor: pointer;
  white-space: nowrap;
}
.editing-profile-layout .red-btn:hover {
  border-radius: 100px;
  background: #DF140C;
}
.editing-profile-layout .head-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.editing-profile-layout .head-row .col {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
.editing-profile-layout .head-row .col .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.editing-profile-layout .head-row .col .row .add-tab {
  display: none;
}
@media (max-width: 745px) {
  .editing-profile-layout .head-row .col .row .add-tab {
    display: flex;
  }
}
.editing-profile-layout .head-row .col h1 {
  color: #333;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 20.4px */
}
.editing-profile-layout .head-row .red-btn {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--Red, #EA2119);
  color: #FFF;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.34px;
  cursor: pointer;
}
.editing-profile-layout .head-row .red-btn:hover {
  border-radius: 100px;
  background: #DF140C;
}
@media (max-width: 745px) {
  .editing-profile-layout .head-row .red-btn {
    display: none;
  }
}
.editing-profile-layout .r-btn {
  display: none;
}
@media (max-width: 745px) {
  .editing-profile-layout .r-btn {
    display: block;
  }
}
.editing-profile-layout .add-tab {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--blue, #0070C9);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  cursor: pointer;
}
.editing-profile-layout .add-tab:hover {
  color: #0067B9;
}
.editing-profile-layout .chakra-tabs__tab-panel {
  max-height: 65vh;
  overflow-y: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}
@media (max-width: 745px) {
  .editing-profile-layout .chakra-tabs__tab-panel {
    overflow-y: unset;
    max-height: unset;
  }
}
.editing-profile-layout .chakra-tabs__tab-panel::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  background-color: transparent;
}
.editing-profile-layout .chakra-tabs__tab-panel::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.editing-profile-layout .ul-edit-tabs {
  flex-shrink: 1;
}
.editing-profile-layout .ul-edit-tabs .add-tab {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--blue, #0070C9);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  cursor: pointer;
}
.editing-profile-layout .ul-edit-tabs .add-tab:hover {
  color: #0067B9;
}
.editing-profile-layout .profile-info-form {
  display: flex;
  margin-top: 24px;
}
@media (max-width: 920px) {
  .editing-profile-layout .profile-info-form {
    flex-direction: column;
    gap: 24px;
  }
}
.editing-profile-layout .profile-info-form-wrapper.short-profile-info-form-wrapper {
  flex-grow: 1;
  max-height: 67vh;
  overflow-y: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}
@media (max-width: 745px) {
  .editing-profile-layout .profile-info-form-wrapper.short-profile-info-form-wrapper {
    overflow-y: unset;
    max-height: unset;
  }
}
.editing-profile-layout .profile-info-form-wrapper.short-profile-info-form-wrapper::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  background-color: transparent;
}
.editing-profile-layout .profile-info-form-wrapper.short-profile-info-form-wrapper::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.editing-profile-layout .profile-info-form-wrapper.short-profile-info-form-wrapper .profile-info-form {
  margin-top: 0;
}
.editing-profile-layout .profile-info-form-wrapper .form-head {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.editing-profile-layout .profile-info-form-wrapper .form-head p {
  color: #000;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.editing-profile-layout .profile-info-form-wrapper .form-head .btn {
  display: flex;
  gap: 12px;
  cursor: pointer;
}
.editing-profile-layout .profile-info-form-wrapper .form-head .btn span {
  color: var(--Red, #EA2119);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}
.editing-profile-layout .profile-info-form-wrapper .form-head .btn:hover svg path {
  fill: #E01D16;
}
.editing-profile-layout .profile-info-form-wrapper .form-head .btn:hover span {
  color: #E01D16;
}
.editing-profile-layout .column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}
@media (max-width: 920px) {
  .editing-profile-layout .column {
    width: 100%;
  }
}
.editing-profile-layout .column .chapter {
  max-width: 390px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.editing-profile-layout .column .chapter .title-row {
  display: flex;
  flex-direction: column;
}
.editing-profile-layout .column .chapter .title-row .title {
  color: #000;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.editing-profile-layout .column .chapter .title-row .adress {
  color: var(--grey_txt, rgba(143, 143, 148, 0.7));
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
  display: block;
  margin: 4px 0 12px;
}
.editing-profile-layout .column .chapter .title-row .btn {
  cursor: pointer;
  color: var(--blue, #0070C9);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}
.editing-profile-layout .column .chapter .title-row .btn:hover {
  color: #0067B9;
}
.editing-profile-layout .column .chapter .title {
  color: #000;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.editing-profile-layout .column .chapter .custom-switch {
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

.change-main-person-modal .mp-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(245, 245, 247, 0.8);
  backdrop-filter: blur(17px);
  z-index: 30;
  width: 100%;
  height: 100%;
}
.change-main-person-modal .modal-wrapper {
  position: fixed;
  z-index: 31;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  max-width: 388px;
  padding: 24px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #FFF;
  backdrop-filter: blur(32px);
}
.change-main-person-modal .modal-wrapper .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 33px 16px;
  align-self: stretch;
}
.change-main-person-modal .modal-wrapper .row p {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
}
.change-main-person-modal .modal-wrapper .row span {
  color: var(--grey_txt, rgba(143, 143, 148, 0.7));
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}
.change-main-person-modal .modal-wrapper .btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.change-main-person-modal .modal-wrapper .btns span {
  color: var(--grey_txt, rgba(143, 143, 148, 0.7));
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 20.4px */
  cursor: pointer;
}

/*# sourceMappingURL=editingProfile.css.map */
