.login-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #F5F5F7;
  .form-row {
    flex-grow: 1;
    padding: 45px 130px 45px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1150px) {
      padding: 50px 30px 55px 0;
    }
    @media (max-width: 1000px) {
      flex-direction: column;
      padding: 24px 0 0;
      gap: 24px;
    }
    .login-swiper {
      width: 495px;
      height: 450px;
      @media (max-width: 1000px) {
        max-width: 495px;
        width: 100%;
        height: 530px;
      }
      @media (max-width: 745px) {
        max-width: 495px;
        width: 100%;
        height: 351px;
      }
      .loginSwiper {
        width: 100%;
        height: 100%;
        .login-swiper-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          gap: 20px;
          padding-bottom: 10px;
          .text {
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            @media (max-width: 550px) {
              padding: 0 18px;
            }
            p {
              color: #000;
              font-family: Roboto;
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 120%; /* 28.8px */
            }
            span {
              color: var(--grey_txt, rgba(143, 143, 148, 0.70));
              font-family: Roboto;
              font-size: 17px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%; /* 20.4px */
            }
          }
          .image {
            width: 100%;
            height: 340px;
            flex-grow: 1;
            @media (max-width: 745px) {
              height: 211px;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

        }
        .swiper-pagination {
          bottom: 0!important;
          .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            border-radius: 7px;
            background: rgba(149, 149, 149, 0.10);
            opacity: 1;
            &.swiper-pagination-bullet-active {
              border-radius: 7px;
              background: var(--Grey, rgba(149, 149, 149, 0.40));
            }
          }
        }
      }
    }
    .login-form {
      display: flex;
      padding: 56px 38px 24px ;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 14px;
      background: #FFF;
      max-width: 500px;
      height: 469px;
      width: 100%;
      position: relative;
      overflow: hidden;
      @media (max-width: 1000px) {
        max-width: 100%;
        width: 100%;
        border-radius: 14px 14px 0 0;
        padding: 24px 18px;
      }
      @media (max-width: 745px) {
        height: 350px;
      }
      .form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 1000px) {
          max-width: 500px;
          width: 100%;
        }

      }
      .form-inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        .title {
          color: #000;
          font-family: Roboto;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%; /* 28.8px */
          margin-bottom: 56px;
          text-align: center;
          @media (max-width: 1000px) {
            margin-bottom: 24px;
          }
          @media (max-width: 550px) {
            text-align: left;
          }
        }
        .row {
          display: flex;
          gap: 10px;
          margin-bottom: 17px;
          width: 100%;
          align-items: flex-start;
          .input-box {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            span {
              color: var(--Red, #EA2119);
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%; /* 16.8px */
            }
            input {
              display: flex;
              height: 56px;
              padding: 10px 16px;
              align-items: center;
              gap: 4px;
              flex: unset;
              flex-shrink: 0;
              width: 100%;
              border-radius: 12px;
              border: 1px solid rgba(0, 0, 0, 0.40);
              outline: none;
              &.error {
                border: 1px solid var(--Red, #EA2119);
              }
              &:focus {
                color: #000000;
                &::placeholder {
                  color: #000000;
                }
              }

            }
          }
          input {
            display: flex;
            height: 56px;
            padding: 10px 16px;
            align-items: center;
            gap: 4px;
            flex: 1 0 0;
            border-radius: 12px;
            border: 1px solid rgba(0, 0, 0, 0.40);
            outline: none;
          }
          button {
            border: none;
            display: flex;
            width: 56px;
            height: 56px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            border-radius: 12px;
            background: var(--Red, #EA2119);
            &:hover {
              background: #DF140C;
            }
          }
          .chakra-checkbox__label {
            color: rgba(29, 29, 31, 0.70);
            text-align: center;
            font-family: Roboto;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; /* 176.471% */
          }
        }
      }
      .links-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        a {
          color: var(--blue, #0070C9);
          text-align: center;
          font-family: Roboto;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px; /* 128.571% */
          display: flex;
          gap: 10px;
          align-items: center;
        }
        p {
          color: rgba(29, 29, 31, 0.70);
          text-align: center;
          font-family: Roboto;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px; /* 128.571% */
          display: flex;
          gap: 10px;
        }
      }
      .choose-account-block {
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        border-radius: 14px;
        background: #FFF;
        padding: 18px 18px 24px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        transition: right .5s linear, opacity .2s ease;
        opacity: 0;
        z-index: 2;
        &.open {
          right: 0;
          opacity: 1;
        }

        .container {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          .content-container {
            max-width: 351px;
            width: 100%;
            display: flex;
            flex-direction: column;
            @media (max-width: 550px) {
              max-width: 100%;
              align-items: flex-start;
            }
            .title {
              color: #000;
              font-family: Roboto;
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 120%; /* 28.8px */
              margin-bottom: 12px;
              text-align: center;
              @media (max-width: 550px) {
                text-align: left;
              }
            }
            .text {
              color: var(--grey_txt, rgba(143, 143, 148, 0.70));
              text-align: center;
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%; /* 16.8px */
              text-align: center;
              max-width: 351px;
              @media (max-width: 550px) {
                text-align: left;
              }

            }
            .checkboxes {
              margin-top: 56px;
              display: flex;
              flex-direction: column;
              gap: 24px;
              @media (max-width: 550px) {
                margin-top: 24px;
              }
              .chakra-checkbox__label {
                color: rgba(29, 29, 31, 0.70);
                text-align: center;
                font-family: Roboto;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px; /* 176.471% */
              }
            }
          }
          button {
            &.gray {
              display: flex;
              height: 44px;
              padding: 0px 24px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              border-radius: 1000px;
              background: #EFEFEF;
              color: #959595;
              font-family: Roboto;
              font-size: 17px;
              font-style: normal;
              font-weight: 500;
              line-height: 120%; /* 20.4px */
              @media (max-width: 550px) {
                width: 100%;
              }
            }
            &.red {
              display: flex;
              padding: 12px 24px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              border-radius: 100px;
              background: var(--Red, #EA2119);
              color: #FFF;
              font-family: Roboto;
              font-size: 17px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              letter-spacing: 0.34px;
              @media (max-width: 550px) {
                width: 100%;
              }
              &:hover {
                background: #DF140C;
              }
            }
          }


        }
      }
      .confirm-block {
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        border-radius: 14px;
        background: #FFF;
        padding: 18px 18px 24px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        transition: right .5s linear, opacity .2s ease;
        opacity: 0;
        z-index: 3;
        &.open {
          right: 0;
          opacity: 1;
        }
        .confirm-container {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          .confirm-inner {
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;
            p {
              color: #000;
              text-align: center;
              font-family: Roboto;
              font-size: 17px;
              font-style: normal;
              font-weight: 500;
              line-height: 120%; /* 20.4px */
            }
            .pin-inputs {
              display: flex;
              gap: 4px;
              input {
                display: flex;
                height: 56px;
                padding: 10px 16px;
                align-items: center;
                gap: 4px;
                border-radius: 12px;
                border: 1px solid rgba(0, 0, 0, 0.40);
                color: rgba(29, 29, 31, 0.70);
                text-align: center;
                font-family: Roboto;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px; /* 176.471% */
                flex-shrink: 0;
                width: 43px;
              }
            }
            a {
              color: rgba(149, 149, 149, 0.70);
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%; /* 16.8px */
              text-decoration-line: underline;
            }
            .text {
              margin-top: 8px;
              color: rgba(51, 51, 51, 0.70);
              text-align: center;
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%; /* 16.8px */
              text-align: center;
              max-width: 461px;
            }
          }

          .no-account {
            color: rgba(29, 29, 31, 0.70);
            text-align: center;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 128.571% */
            display: flex;
            gap: 10px;
            a {
              color: var(--blue, #0070C9);
              text-align: center;
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px; /* 128.571% */
              display: flex;
              gap: 10px;
              align-items: center;
            }
          }
        }
      }
      .registration-block {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 14px;
        background: #FFF;
        padding: 18px 18px 24px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 3;
        display: none;

        &.open {
          display: flex;
        }
        .registration-container {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          max-width: 425px;
          width: 100%;
          margin: 0 auto;
          @media (max-width: 550px) {
            align-items: flex-start;
          }
          p {
            color: rgba(29, 29, 31, 0.70);
            text-align: center;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 128.571% */
            display: flex;
            gap: 10px;
            a {
              color: var(--blue, #0070C9);
              text-align: center;
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px; /* 128.571% */
              display: flex;
              gap: 10px;
              align-items: center;
            }
            &.title {
              color: #000;
              font-family: Roboto;
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 120%; /* 28.8px */
              margin-bottom: 56px;
              @media (max-width: 550px) {
                margin-bottom: 24px;
              }
            }
          }
          .acc {
            margin-top: auto;
          }

          .row {
            display: flex;
            gap: 10px;
            margin-bottom: 17px;
            width: 100%;
            align-items: flex-start;
            .input-box {
              flex-grow: 1;
              display: flex;
              flex-direction: column;

              span {
                color: var(--Red, #EA2119);
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 16.8px */
              }
              input {
                display: flex;
                height: 56px;
                padding: 10px 16px;
                align-items: center;
                gap: 4px;
                flex: unset;
                flex-shrink: 0;
                width: 100%;
                border-radius: 12px;
                border: 1px solid rgba(0, 0, 0, 0.40);
                outline: none;
                &.error {
                  border: 1px solid var(--Red, #EA2119);
                }
              }
            }
            input {
              display: flex;
              height: 56px;
              padding: 10px 16px;
              align-items: center;
              gap: 4px;
              flex: 1 0 0;
              border-radius: 12px;
              border: 1px solid rgba(0, 0, 0, 0.40);
              outline: none;
            }
            button {
              border: none;
              display: flex;
              width: 56px;
              height: 56px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              cursor: pointer;
              border-radius: 12px;
              background: var(--Red, #EA2119);
              &:hover {
                background: #DF140C;
              }
            }
            .chakra-checkbox__label {
              color: rgba(29, 29, 31, 0.70);
              text-align: center;
              font-family: Roboto;
              font-size: 17px;
              font-style: normal;
              font-weight: 400;
              line-height: 30px; /* 176.471% */
            }
          }
        }
      }
    }
  }
  .footer {
    border-top: 1px solid rgba(149, 149, 149, 0.20);
    background: #F5F5F7;
    padding: 12px 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media (max-width: 1000px) {
      display: none;
    }
    p {
      color: rgba(0, 0, 0, 0.56);
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 250% */
      a {
        color: rgba(0, 0, 0, 0.56);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 250% */
        &:last-child {
          color: var(--blue, #0070C9);
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          text-decoration-line: underline;
          &:hover {
            color: #0067B9;
          }
        }
      }
    }
    .line {
      background: rgba(149, 149, 149, 0.20);
      height: 1px;
      width: 100%;
      flex-shrink: 0;
    }
    .row {
      display: flex;
      gap: 24px;
      align-items: center;

      .copy {
        color: rgba(0, 0, 0, 0.56);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 250% */
      }
      .links {
        display: flex;
        gap: 10px;
        align-items: center;
        flex-grow: 1;
        a {
          color: rgba(0, 0, 0, 0.56);
          text-align: center;
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 30px; /* 250% */
        }
        .divider {
          background: rgba(51, 51, 51, 0.50);
          height: 10px;
          width: 1px;
          flex-shrink: 0;
        }
      }
      .site {
        color: rgba(0, 0, 0, 0.56);
        text-align: center;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 250% */
        span {
          color: var(--Red, #EA2119);
          text-align: center;
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 30px; /* 250% */
        }
      }
    }
  }
}