.login-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #F5F5F7;
}
.login-layout .form-row {
  flex-grow: 1;
  padding: 45px 130px 45px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1150px) {
  .login-layout .form-row {
    padding: 50px 30px 55px 0;
  }
}
@media (max-width: 1000px) {
  .login-layout .form-row {
    flex-direction: column;
    padding: 24px 0 0;
    gap: 24px;
  }
}
.login-layout .form-row .login-swiper {
  width: 495px;
  height: 450px;
}
@media (max-width: 1000px) {
  .login-layout .form-row .login-swiper {
    max-width: 495px;
    width: 100%;
    height: 530px;
  }
}
@media (max-width: 745px) {
  .login-layout .form-row .login-swiper {
    max-width: 495px;
    width: 100%;
    height: 351px;
  }
}
.login-layout .form-row .login-swiper .loginSwiper {
  width: 100%;
  height: 100%;
}
.login-layout .form-row .login-swiper .loginSwiper .login-swiper-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 20px;
  padding-bottom: 10px;
}
.login-layout .form-row .login-swiper .loginSwiper .login-swiper-container .text {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 550px) {
  .login-layout .form-row .login-swiper .loginSwiper .login-swiper-container .text {
    padding: 0 18px;
  }
}
.login-layout .form-row .login-swiper .loginSwiper .login-swiper-container .text p {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
}
.login-layout .form-row .login-swiper .loginSwiper .login-swiper-container .text span {
  color: var(--grey_txt, rgba(143, 143, 148, 0.7));
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 20.4px */
}
.login-layout .form-row .login-swiper .loginSwiper .login-swiper-container .image {
  width: 100%;
  height: 340px;
  flex-grow: 1;
}
@media (max-width: 745px) {
  .login-layout .form-row .login-swiper .loginSwiper .login-swiper-container .image {
    height: 211px;
  }
}
.login-layout .form-row .login-swiper .loginSwiper .login-swiper-container .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.login-layout .form-row .login-swiper .loginSwiper .swiper-pagination {
  bottom: 0 !important;
}
.login-layout .form-row .login-swiper .loginSwiper .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 7px;
  background: rgba(149, 149, 149, 0.1);
  opacity: 1;
}
.login-layout .form-row .login-swiper .loginSwiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border-radius: 7px;
  background: var(--Grey, rgba(149, 149, 149, 0.4));
}
.login-layout .form-row .login-form {
  display: flex;
  padding: 56px 38px 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 14px;
  background: #FFF;
  max-width: 500px;
  height: 469px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .login-layout .form-row .login-form {
    max-width: 100%;
    width: 100%;
    border-radius: 14px 14px 0 0;
    padding: 24px 18px;
  }
}
@media (max-width: 745px) {
  .login-layout .form-row .login-form {
    height: 350px;
  }
}
.login-layout .form-row .login-form .form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .login-layout .form-row .login-form .form {
    max-width: 500px;
    width: 100%;
  }
}
.login-layout .form-row .login-form .form-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.login-layout .form-row .login-form .form-inner .title {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  margin-bottom: 56px;
  text-align: center;
}
@media (max-width: 1000px) {
  .login-layout .form-row .login-form .form-inner .title {
    margin-bottom: 24px;
  }
}
@media (max-width: 550px) {
  .login-layout .form-row .login-form .form-inner .title {
    text-align: left;
  }
}
.login-layout .form-row .login-form .form-inner .row {
  display: flex;
  gap: 10px;
  margin-bottom: 17px;
  width: 100%;
  align-items: flex-start;
}
.login-layout .form-row .login-form .form-inner .row .input-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.login-layout .form-row .login-form .form-inner .row .input-box span {
  color: var(--Red, #EA2119);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}
.login-layout .form-row .login-form .form-inner .row .input-box input {
  display: flex;
  height: 56px;
  padding: 10px 16px;
  align-items: center;
  gap: 4px;
  flex: unset;
  flex-shrink: 0;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
}
.login-layout .form-row .login-form .form-inner .row .input-box input.error {
  border: 1px solid var(--Red, #EA2119);
}
.login-layout .form-row .login-form .form-inner .row .input-box input:focus {
  color: #000000;
}
.login-layout .form-row .login-form .form-inner .row .input-box input:focus::placeholder {
  color: #000000;
}
.login-layout .form-row .login-form .form-inner .row input {
  display: flex;
  height: 56px;
  padding: 10px 16px;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
}
.login-layout .form-row .login-form .form-inner .row button {
  border: none;
  display: flex;
  width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 12px;
  background: var(--Red, #EA2119);
}
.login-layout .form-row .login-form .form-inner .row button:hover {
  background: #DF140C;
}
.login-layout .form-row .login-form .form-inner .row .chakra-checkbox__label {
  color: rgba(29, 29, 31, 0.7);
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 176.471% */
}
.login-layout .form-row .login-form .links-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.login-layout .form-row .login-form .links-inner a {
  color: var(--blue, #0070C9);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  display: flex;
  gap: 10px;
  align-items: center;
}
.login-layout .form-row .login-form .links-inner p {
  color: rgba(29, 29, 31, 0.7);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  display: flex;
  gap: 10px;
}
.login-layout .form-row .login-form .choose-account-block {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background: #FFF;
  padding: 18px 18px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: right 0.5s linear, opacity 0.2s ease;
  opacity: 0;
  z-index: 2;
}
.login-layout .form-row .login-form .choose-account-block.open {
  right: 0;
  opacity: 1;
}
.login-layout .form-row .login-form .choose-account-block .container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.login-layout .form-row .login-form .choose-account-block .container .content-container {
  max-width: 351px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 550px) {
  .login-layout .form-row .login-form .choose-account-block .container .content-container {
    max-width: 100%;
    align-items: flex-start;
  }
}
.login-layout .form-row .login-form .choose-account-block .container .content-container .title {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  margin-bottom: 12px;
  text-align: center;
}
@media (max-width: 550px) {
  .login-layout .form-row .login-form .choose-account-block .container .content-container .title {
    text-align: left;
  }
}
.login-layout .form-row .login-form .choose-account-block .container .content-container .text {
  color: var(--grey_txt, rgba(143, 143, 148, 0.7));
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  text-align: center;
  max-width: 351px;
}
@media (max-width: 550px) {
  .login-layout .form-row .login-form .choose-account-block .container .content-container .text {
    text-align: left;
  }
}
.login-layout .form-row .login-form .choose-account-block .container .content-container .checkboxes {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 550px) {
  .login-layout .form-row .login-form .choose-account-block .container .content-container .checkboxes {
    margin-top: 24px;
  }
}
.login-layout .form-row .login-form .choose-account-block .container .content-container .checkboxes .chakra-checkbox__label {
  color: rgba(29, 29, 31, 0.7);
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 176.471% */
}
.login-layout .form-row .login-form .choose-account-block .container button.gray {
  display: flex;
  height: 44px;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 1000px;
  background: #EFEFEF;
  color: #959595;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 20.4px */
}
@media (max-width: 550px) {
  .login-layout .form-row .login-form .choose-account-block .container button.gray {
    width: 100%;
  }
}
.login-layout .form-row .login-form .choose-account-block .container button.red {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--Red, #EA2119);
  color: #FFF;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.34px;
}
@media (max-width: 550px) {
  .login-layout .form-row .login-form .choose-account-block .container button.red {
    width: 100%;
  }
}
.login-layout .form-row .login-form .choose-account-block .container button.red:hover {
  background: #DF140C;
}
.login-layout .form-row .login-form .confirm-block {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background: #FFF;
  padding: 18px 18px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: right 0.5s linear, opacity 0.2s ease;
  opacity: 0;
  z-index: 3;
}
.login-layout .form-row .login-form .confirm-block.open {
  right: 0;
  opacity: 1;
}
.login-layout .form-row .login-form .confirm-block .confirm-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.login-layout .form-row .login-form .confirm-block .confirm-container .confirm-inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.login-layout .form-row .login-form .confirm-block .confirm-container .confirm-inner p {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 20.4px */
}
.login-layout .form-row .login-form .confirm-block .confirm-container .confirm-inner .pin-inputs {
  display: flex;
  gap: 4px;
}
.login-layout .form-row .login-form .confirm-block .confirm-container .confirm-inner .pin-inputs input {
  display: flex;
  height: 56px;
  padding: 10px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: rgba(29, 29, 31, 0.7);
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 176.471% */
  flex-shrink: 0;
  width: 43px;
}
.login-layout .form-row .login-form .confirm-block .confirm-container .confirm-inner a {
  color: rgba(149, 149, 149, 0.7);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  text-decoration-line: underline;
}
.login-layout .form-row .login-form .confirm-block .confirm-container .confirm-inner .text {
  margin-top: 8px;
  color: rgba(51, 51, 51, 0.7);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  text-align: center;
  max-width: 461px;
}
.login-layout .form-row .login-form .confirm-block .confirm-container .no-account {
  color: rgba(29, 29, 31, 0.7);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  display: flex;
  gap: 10px;
}
.login-layout .form-row .login-form .confirm-block .confirm-container .no-account a {
  color: var(--blue, #0070C9);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  display: flex;
  gap: 10px;
  align-items: center;
}
.login-layout .form-row .login-form .registration-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background: #FFF;
  padding: 18px 18px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 3;
  display: none;
}
.login-layout .form-row .login-form .registration-block.open {
  display: flex;
}
.login-layout .form-row .login-form .registration-block .registration-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  max-width: 425px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 550px) {
  .login-layout .form-row .login-form .registration-block .registration-container {
    align-items: flex-start;
  }
}
.login-layout .form-row .login-form .registration-block .registration-container p {
  color: rgba(29, 29, 31, 0.7);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  display: flex;
  gap: 10px;
}
.login-layout .form-row .login-form .registration-block .registration-container p a {
  color: var(--blue, #0070C9);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  display: flex;
  gap: 10px;
  align-items: center;
}
.login-layout .form-row .login-form .registration-block .registration-container p.title {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  margin-bottom: 56px;
}
@media (max-width: 550px) {
  .login-layout .form-row .login-form .registration-block .registration-container p.title {
    margin-bottom: 24px;
  }
}
.login-layout .form-row .login-form .registration-block .registration-container .acc {
  margin-top: auto;
}
.login-layout .form-row .login-form .registration-block .registration-container .row {
  display: flex;
  gap: 10px;
  margin-bottom: 17px;
  width: 100%;
  align-items: flex-start;
}
.login-layout .form-row .login-form .registration-block .registration-container .row .input-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.login-layout .form-row .login-form .registration-block .registration-container .row .input-box span {
  color: var(--Red, #EA2119);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}
.login-layout .form-row .login-form .registration-block .registration-container .row .input-box input {
  display: flex;
  height: 56px;
  padding: 10px 16px;
  align-items: center;
  gap: 4px;
  flex: unset;
  flex-shrink: 0;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
}
.login-layout .form-row .login-form .registration-block .registration-container .row .input-box input.error {
  border: 1px solid var(--Red, #EA2119);
}
.login-layout .form-row .login-form .registration-block .registration-container .row input {
  display: flex;
  height: 56px;
  padding: 10px 16px;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
}
.login-layout .form-row .login-form .registration-block .registration-container .row button {
  border: none;
  display: flex;
  width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 12px;
  background: var(--Red, #EA2119);
}
.login-layout .form-row .login-form .registration-block .registration-container .row button:hover {
  background: #DF140C;
}
.login-layout .form-row .login-form .registration-block .registration-container .row .chakra-checkbox__label {
  color: rgba(29, 29, 31, 0.7);
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 176.471% */
}
.login-layout .footer {
  border-top: 1px solid rgba(149, 149, 149, 0.2);
  background: #F5F5F7;
  padding: 12px 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 1000px) {
  .login-layout .footer {
    display: none;
  }
}
.login-layout .footer p {
  color: rgba(0, 0, 0, 0.56);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 250% */
}
.login-layout .footer p a {
  color: rgba(0, 0, 0, 0.56);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 250% */
}
.login-layout .footer p a:last-child {
  color: var(--blue, #0070C9);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration-line: underline;
}
.login-layout .footer p a:last-child:hover {
  color: #0067B9;
}
.login-layout .footer .line {
  background: rgba(149, 149, 149, 0.2);
  height: 1px;
  width: 100%;
  flex-shrink: 0;
}
.login-layout .footer .row {
  display: flex;
  gap: 24px;
  align-items: center;
}
.login-layout .footer .row .copy {
  color: rgba(0, 0, 0, 0.56);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 250% */
}
.login-layout .footer .row .links {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-grow: 1;
}
.login-layout .footer .row .links a {
  color: rgba(0, 0, 0, 0.56);
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 250% */
}
.login-layout .footer .row .links .divider {
  background: rgba(51, 51, 51, 0.5);
  height: 10px;
  width: 1px;
  flex-shrink: 0;
}
.login-layout .footer .row .site {
  color: rgba(0, 0, 0, 0.56);
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 250% */
}
.login-layout .footer .row .site span {
  color: var(--Red, #EA2119);
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 250% */
}

/*# sourceMappingURL=loginLayout.css.map */
