.private-info-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.private-info-block .accordeon {
  transition: 1s ease;
}
.private-info-block .accordeon .box {
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: 24px 12px 12px 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 14px;
  background: #FFF;
  transition: 0.8s ease 0.3s;
}
.private-info-block .accordeon .box.active {
  transition: 0.8s ease 0.3s;
}
.private-info-block .accordeon .box.active .label .show-icon {
  transition: 0.3s ease;
  transform: rotate(45deg);
}
.private-info-block .accordeon .box.active .info-container {
  transition: 0.8s ease 0.3s;
}
.private-info-block .accordeon .box .label {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 24px;
  transition: 0.8s ease;
}
.private-info-block .accordeon .box .label .label-cont {
  flex-grow: 1;
  display: flex;
  align-items: center;
  transition: 0.8s ease;
}
.private-info-block .accordeon .box .label .label-cont:hover span {
  color: #0067B9;
}
.private-info-block .accordeon .box .label .label-cont:hover svg path {
  fill: #0067B9;
}
.private-info-block .accordeon .box .label .label-cont span {
  color: var(--blue, #0070C9);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.private-info-block .accordeon .box .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: 0.8s ease 0.3s;
}
.private-info-block .accordeon .box .content .box-content-wrapper {
  transition: 0.8s ease 0.3s;
}
.private-info-block .accordeon .box .content .box-content-wrapper .title {
  color: #333;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
}
.private-info-block .accordeon .box .content .box-content-wrapper .info-container {
  position: relative;
  overflow: hidden;
  max-height: 0;
  transition: 0.8s ease 0.3s;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.private-info-block .accordeon .box .content .box-content-wrapper .info-container li {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  transition: 0.8s ease 0.3s;
}
.private-info-block .accordeon .box .content .box-content-wrapper .info-container li:first-child {
  margin-top: 24px;
}
.private-info-block .accordeon .box .content .box-content-wrapper .info-container li span:first-child {
  color: var(--grey_txt, rgba(143, 143, 148, 0.7));
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
  min-width: 115px;
}
.private-info-block .accordeon .box .content .box-content-wrapper .info-container li span:last-child {
  color: #333;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
  text-align: right;
}
.private-info-block .accordeon .box .content .box-content-wrapper .info-container li.adm-block {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  transition: 0.8s ease;
}
.private-info-block .accordeon .box .content .box-content-wrapper .info-container li.adm-block .head-block {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  width: 100%;
  transition: 0.8s ease;
}
.private-info-block .accordeon .box .content .box-content-wrapper .info-container li.adm-block .head-block span {
  color: var(--grey_txt, rgba(143, 143, 148, 0.7));
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
  flex-grow: 1;
}
.private-info-block .accordeon .box .content .box-content-wrapper .info-container li.adm-block .head-block .wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}
.private-info-block .accordeon .box .content .box-content-wrapper .info-container li.adm-block .head-block .wrap .val {
  color: #333;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
  flex-grow: unset;
  min-width: unset;
}
.private-info-block .accordeon .box .content .box-content-wrapper .info-container li.adm-block .head-block .wrap .btn {
  cursor: pointer;
  color: var(--blue, #0070C9);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
  text-decoration-line: underline;
}
.private-info-block .accordeon .box .content .box-content-wrapper .info-container li.adm-block .head-block .wrap .btn:hover {
  color: #0067B9;
}
.private-info-block .accordeon .box .content .box-content-wrapper .info-container li.adm-block .note {
  max-height: 0;
  overflow: hidden;
  transition: 0.8s ease;
}
.private-info-block .accordeon .box .content .box-content-wrapper .info-container li.adm-block .note span {
  max-width: 519px;
  color: #333;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
}
.private-info-block .accordeon .box .content .box-content-wrapper .info-container li.adm-block .note.visible {
  max-height: 2000px;
  transition: 0.8s ease;
}

/*# sourceMappingURL=privateInfo.css.map */
