* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s ease;
}

a {
  text-decoration: none;
}
ul , li {
  list-style: none;
  padding: 0;
  margin: 0;
}
:root {
  --Red: #EA2119
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Thin.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  transition: 0.3s ease;
}

.header {
  padding: 16px 38px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  ul {
    display: flex;
    gap: 24px;
    align-items: center;
    li {
      a {
        color: rgba(0, 0, 0, 0.80);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media (min-width: 1920px) {
          font-size: 18px;
        }
        @media (min-width: 1600px) {
          font-size: 17px;
        }
      }
      .logo-subtitle {
        color: var(--Red, #EA2119);
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 214.286% */
        @media (min-width: 1920px) {
          font-size: 16px;
        }
        @media (min-width: 1600px) {
          font-size: 15px;
        }
      }
      .logo-title {
        color: var(--Red, #EA2119);
        text-align: center;
        font-family: Roboto;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        @media (min-width: 1920px) {
          font-size: 34px;
        }
        @media (min-width: 1600px) {
          font-size: 33px;
        }
      }
    }
  }
}
.contracts-container {
  display: flex;
  width: 100%;

}
.contracts-subject-container {
  display: flex;
  width: 422px;
  padding: 31px 24px 56px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  align-self: stretch;
  background: #F5F5F7;
  @media (min-width: 1920px) {
    width: 450px;
  }
  @media (min-width: 1600px) {
    width: 450px;
  }
  .filters {
    display: flex;
    gap: 6px;
    li {
      cursor: pointer;
      border-radius: 30px;
      background: #F5F5F7;
      display: flex;
      padding: 6px 12px;
      align-items: flex-start;
      gap: 10px;
      color: rgba(51, 51, 51, 0.60);
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 14.4px */
      @media (min-width: 1920px) {
        font-size: 14px;
      }
      @media (min-width: 1600px) {
        font-size: 13px;
      }
      &.active {
        color: #FFF;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 14.4px */
        display: flex;
        padding: 6px 12px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 30px;
        background: var(--Red, #EA2119);
        @media (min-width: 1920px) {
          font-size: 14px;
        }
        @media (min-width: 1600px) {
          font-size: 13px;
        }
      }
    }
  }
  .subject-cards {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .new-leasing-subject {
      display: flex;
      width: calc(100% - 24px - 24px);
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      position: absolute;
      left: 24px;
      bottom: 61px;
      border-radius: 100px;
      background: var(--Red, #EA2119);
      color: #FFF;
      font-family: Roboto;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.34px;
      @media (min-width: 1920px) {
        font-size: 19px;
      }
      @media (min-width: 1600px) {
        font-size: 18px;
      }
    }

    .contract-card {
      display: flex;
      padding: 12px 24px;
      justify-content: space-between;
      gap: 10px;
      align-self: stretch;
      border-radius: 14px;
      background: #FFF;
      cursor: pointer;
      min-height: 121px;
      &:hover {
        border-radius: 14px;
        background: #FFF;
        box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.14);
      }
      &.active {
        border-radius: 14px;
        background: #FFF;
        box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.14);
      }
      .column-1 {
        display: flex;
        gap: 0;
        flex-direction: column;
        .subject-type {
          padding: 0;
          margin: 0;
          color: #333;
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 14.4px */
          @media (min-width: 1920px) {
            font-size: 14px;
          }
          @media (min-width: 1600px) {
            font-size: 13px;
          }
        }
        .subject-title {
          color: #333;
          font-family: Roboto;
          font-size: 17px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%; /* 20.4px */
          @media (min-width: 1920px) {
            font-size: 19px;
          }
          @media (min-width: 1600px) {
            font-size: 18px;
          }
        }
        .more-subjects {
          color: var(--grey_txt, rgba(143, 143, 148, 0.70));
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 14.4px */
          @media (min-width: 1920px) {
            font-size: 14px;
          }
          @media (min-width: 1600px) {
            font-size: 13px;
          }
        }
        .contract-name {
          color: var(--grey_txt, rgba(143, 143, 148, 0.70));
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 14.4px */
          display: block;
          margin-top: auto;
          @media (min-width: 1920px) {
            font-size: 14px;
          }
          @media (min-width: 1600px) {
            font-size: 13px;
          }
        }
      }
      .column-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        .status {
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 14.4px */
          @media (min-width: 1920px) {
            font-size: 14px;
          }
          @media (min-width: 1600px) {
            font-size: 13px;
          }
          &.good {
            color: #30D158;
          }
          &.bad {
            color: var(--Red, #EA2119);
          }
        }
        .payment {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          p {
            color: #333;
            font-family: Roboto;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 20.4px */
            @media (min-width: 1920px) {
              font-size: 19px;
            }
            @media (min-width: 1600px) {
              font-size: 18px;
            }
          }
          span {
            color: var(--grey_txt, rgba(143, 143, 148, 0.70));
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 14.4px */
            @media (min-width: 1920px) {
              font-size: 14px;
            }
            @media (min-width: 1600px) {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
.subject-details-container {
  padding: 31px 24px 56px 24px;
  flex-grow: 1;
}
.finance-payment-details {
  display: flex;
  padding: 12px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 14px;
  background: #F5F5F7;
  .finance-payment-details-title {
    color: #333;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 20.4px */
    margin-bottom: 10px;
    @media (min-width: 1920px) {
      font-size: 19px;
    }
    @media (min-width: 1600px) {
      font-size: 18px;
    }
  }
}